<div class="cartPageWrapper">
<h1>Your Cart</h1>

{% if cart.item_count > 0 %}
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.items %}
        <tr>
          <td>
            <div class="proInfoWrapper">
              <img src="{{ item.image | img_url: 'small' }}" alt="{{ item.product.title }}">
              {{ item.product.title }}
            </div>
          </td>
          <td>
          <div class="quantityDisplay">{{ item.quantity }}</div>
          </td>
          <td>{{ item.line_price | money_without_trailing_zeros }}</td>
          <td>
            <form method="post" action="/cart/update">
              <input type="hidden" name="updates[{{ item.key }}]" value="0">
              <button type="submit" class="removeBtn">Remove</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="SubtotalWrapper">Subtotal: {{ cart.total_price | money_without_trailing_zeros }}</div>

{% else %}
  <p>Your cart is empty.</p>
  <a href="/collections/all">Continue Shopping</a>
{% endif %}
</div>
